*{
  box-sizing: border-box;
}
body {
  font-family: Roboto,Helvetica;
  font-size: 1.2em;
  line-height: 2;
}
ul{
  margin-block-start: 0em;
}
h4{
  font-weight: 400;
  font-size: 18px;
}
li {
  cursor: pointer;
}
p{
  margin: 0 0 10px;
  margin-block-start: -0.5em;
  font-size: small;
}
.panel-fullview{
  height: 100%;
  border: 1px solid #337ab7;
  border-radius: 4px;
}
.panel-header{
  background-color: #337ab7;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}
.control-form{
  width: 100%;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px #00000013;
}
.completed-task{
  background-color: #5bb75b;
  border: none;
  color: white;
  width: 50px;
  border-radius: 16px;
  height: 32px;
  cursor: pointer;
}
.completed-task:hover{
  opacity: 0.8;
}
.in-progress-task{
  background-color: #eb8f06;;
  border: none;
  color: white;
  width: 50px;
  border-radius: 16px;
  height: 32px;
  cursor: pointer;
}
.in-progress-task:hover{
  opacity: 0.8;
}
.list-item-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2px;
  justify-content: center;
  cursor: pointer;
}
.list-item-container:hover{
  background-color: lightgray;
}
.list-item-left{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.list-item-right{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}
.list-item-left-title{
  flex: 1;
  font-size: 18px;
}
.list-item-left-info{
  flex: 1;
  font-size: 12px;
}