label {
  display: block;
}
mat-card {
  width: 100%;
  height: 100%;
  padding: 12px;
}
input {
  width: 98%;
}
.text-box {
  margin: 10px;
}
.diff-ins {
  background-color: #cfc;
}
.diff-del {
  background-color: #fcc;
}
.full-card-view {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.card-header {
  height: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.card-body {
  flex: 1;
  display: flex;
}
.input-container,
.output-container {
  flex: 1;
  border: 1px solid black;
  border-radius: 4px;
  margin: 6px;
  padding: 6px;
}
