* {
  box-sizing: border-box;
}
ul {
  font-size: 14px;
}

mat-card {
  padding: 16px;
  border-radius: 4px;
  background: white;
}
mat-card-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.task-dashboard {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px #0000000d;
}
.panel-default {
  border-color: #ddd;
}
.panel-heading {
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.task-status {
  width: 100%;
  height: 46px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: left;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  background-color: #f0ad4e;
  color: white;
}
.task-status:hover {
  background-color: #eb8f06;
}
.panel-body {
  padding: 15px 20px;
}
.task-card {
  background-color: #fdfdfd;
  box-shadow: 0 2px 2px #00000024, 0 1px 5px #0000001f, 0 3px 1px -2px #0003;
}
.card-heading {
  background-color: #f5f5f5;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
.card-heading-text {
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.card-body {
  padding: 15px;
}
.card-body-text {
  margin: 0 0 10px;
  font-size: 12px;
}
.card-body-footer {
  padding: 20px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.upload-submission-files {
  color: #fff;
  background-color: #337ab7;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  cursor: pointer;
}
.upload-submission-files:hover {
  opacity: 0.9;
}
.extension-button {
  border: none;
  background-color: #5cb85c;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 6px 12px;
  line-height: 1.428571429;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  cursor: pointer;
}
.extension-button:hover {
  opacity: 0.9;
}
.task-description-card {
  padding-top: 10px;
}
.task-first-child {
  margin-top: 0;
  font-size: 14px;
}
.task-last-child {
  margin-bottom: 0;
}
.mat-card-actions {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px 0;
  display: block;
  margin-bottom: 16px;
}
.task-sheet-button {
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
}
.pull-right {
  float: right;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.actions-btn:hover {
  background-color: lightgray;
}
.dropdown-btn {
  background-color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 34px;
  cursor: pointer;
}
.dropdown-btn:hover {
  background-color: lightgrey;
}
.dropdown {
  margin: 0;
  padding: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
