* {
  box-sizing: border-box;
}
div {
  display: block;
}
.comment-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 14px;
  align-items: flex-end;
}
.clip-icon {
  width: 40px;
  vertical-align: middle;
}
.mic-icon {
  width: 40px;
  vertical-align: middle;
}
.comment-box2 {
  flex: 4;
  vertical-align: middle;
}
.input-comment {
  width: 100%;
  padding: 9px;
  font-size: 14px;
  height: 39px;
  background-color: #0000000d;
  overflow: hidden;
  border-radius: 18px;
  border: none;
  vertical-align: middle;
}
